// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Toastr
@import 'toastr';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// AdminLTE
@import "~admin-lte/dist/css/adminlte.min.css";
@import "~admin-lte/plugins/fontawesome-free/css/all.min.css";
@import "~admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css";
@import "~admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css";
@import "~admin-lte/plugins/select2/css/select2.min.css";
@import "~admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css";
@import '~jquery-ui/themes/base/all.css';

// Cropper
@import "~cropperjs/dist/cropper.min.css";
.cropper-img {
    display: block;
    width: 500px;
    height: 600px;
    max-width: 100%;
}
.cropper-preview {
    text-align: center;
    overflow: hidden;
    width: auto;
    height: 310px;
    margin: 10px;
}
.cropper-container {
    height: 0;
}

.img-size-220 {
    height: auto;
}

.img-size-220 {
    width: 220px;
}
